.oocss{
    width: 30%;
    margin: 0% auto;
    color: white;
}
.conteiner{
    background-color: white;
}
.title{
    margin-top: 30%;
    text-align: center;
    color: black;
    font-size: 40px;
}
.subtitle{
    text-align: center;
    color: black;
    font-size: 60px;
}
.conteiner{    
    border: 1px solid black;   
}
.img{
    width: 25px;
}
.nombre{
    width: 300px;
    height: 200px;      
    margin: 2% auto;
    background-size: cover;
    position: relative;
    background-image: url('./Img/EdgarChang.jpg'); 
}
.parrafo{
    background: white;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 15%;
    margin-bottom: 0%;
    font-weight: bold;
    padding: 1em;
    border: 1px solid black;
}